{{!-- NAV PARTIAL --}}
<div class="nav">
  {{>nav}}
</div>
<br><br>

{{!-- Display All Posts --}}
<div class="mb-5" id="display-posts">

  {{!-- Header Welcome User --}}
  {{>welcome}}

  {{!-- Body --}}
  <div class="container">
    <div class="row">
      {{!-- Category as Side Nav --}}
      {{>sideCategory}}

      {{!-- Show All Posts --}}
      <div class="col-8 offset-2">
        <h2 class="text-center topPost">Trending Posts</h2>
        {{!-- Iterate through 'posts' data item. --}}
        {{#each posts}}
        <div class="speech-bubble">
          {{!-- Title as card header --}}
          <a class="hvr-radial-out" style="width:100%" href="/post/{{this.id}}">
            <h5 class="card-header">{{this.text}}</h5>
          </a>
          <div class="card-body">

            {{!-- Limit Post Content --}}
            <p style="overflow-wrap:break-word" class="card-text post-content" value="{{this.id}}">{{this.description}}
            </p>

            <p class="small-text">Created By:  {{this.User.name}} </p>
            <p class="small-text">Posted At:  {{setTime this.createdAt}}</p>

            <div class = "counter">
              <p class="small-text">Popularity:  {{this.counter}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- End Body --}}
</div>


<link rel="stylesheet" href="/styles/sidenav.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/styles/main.css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- Custom JS --}}
<script src="/js/shorten.js"></script>
<script src="/js/sidenav.js"></script>
<script src="/js/display.js"></script>