{{!-- NAV PARTIAL --}}
<div class="nav">
  {{>nav}}
</div>
<br><br>

{{!-- Display Single Posts --}}
<div class="mb-5" id="display-one-post">

  {{!-- Header Welcome User --}}
  {{>welcome}}

  {{!-- Body --}}
  <div class="container">
    <div class="row">
      {{!-- Category as Side Nav --}}
      {{>sideCategory}}

      {{!-- Show One Post. --}}
      <div class="col-8 offset-2">
        <h2 class="text-center topPost">For The Curious...</h2>

        <div class="container">
          <div class="card mt-4 postCard">
            <h5 class="card-header">{{{linkify response.post.text}}}</h5>
            <div class="card-body">
              <p class="card-text">{{{linkify response.post.description}}}</p>
              <p class="small-text"><strong>Author: </strong> {{response.post.name}} </p>
              <p class="small-text">Posted: {{setTime response.post.createdAt}}</p>
              <div class="voting red-text">
                <i style="color: orange" class="like fas fa-carrot fa-lg" value='{{response.post.id}}'></i>
                <i class="hvr-sink dislike far fa-frown-open fa-lg" value='{{response.post.id}}'></i>
              </div>
            </div>
          </div>

          {{!-- Comments --}}
          {{#each response.post.comment}}
          <div class="comment-bubble tri-right border round btm-left-in">
            <p>{{this.name}}</p>
            <p>Posted: {{setTime this.createdAt}}</p>
            <p style="overflow-wrap:break-word"> {{{linkify this.text}}}</p>
          </div>
          {{/each}}


          {{!-- Enter Comment --}}
          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <a href="/login">Click here to Login</a>
            </div>
          </div>

          <form class="clearfix mb-4 mt-4" action="POST">
            <div class="form-group mb-4">
              <label id="comment" class="text-light" for="comment-description">
                <h3>Add a Comment</h3>
              </label>
              <textarea class="form-control" id="comment-description" rows="3" aria-describedby="commet-description"
                placeholder="Enter Comment"></textarea>
            </div>
            <button id="submit" post="{{response.post.id}}" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
      </div>
      {{!-- End Show One Post --}}
    </div>
  </div>
  {{!-- End Body --}}
</div>
{{!-- End singlePost --}}

<link rel="stylesheet" href="/styles/login.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="/styles/sidenav.css" media="screen" title="no title" charset="utf-8">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/sidenav.js"></script>
<script src="/js/comment.js"></script>
